<header id="header" class="header">
  <div class="header-page bg-primary">
    <div class="header-page-authStatus">
      <span *ngIf="auth.loggingIn">Logging in...</span>
      <ng-template [ngIf]="!auth.loggingIn">
        <a *ngIf="!auth.loggedIn" (click)="auth.login()">Log In</a>

        <span *ngIf="auth.loggedIn && auth.userProfile">
          <img
            [src]="auth.userProfile.picture"
            [alt]="auth.userProfile.nickname"
          />
          &nbsp; {{ auth.userProfile.name }} <span class="divider">|</span>
          <a (click)="auth.logout()">Log Out</a>
        </span>
      </ng-template>
    </div>
    <a class="toggle-offcanvas bg-primary" (click)="toggleNav()">
      <span></span>
    </a>
    <h1 class="header-page siteTitle"><a routerLink="/">RSVP</a></h1>
  </div>

  <nav id="nav" class="nav" role="navigation">
    <ul class="nav-list">
      <li>
        <a
          routerLink="/"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          >Events
        </a>
      </li>
    </ul>
  </nav>
</header>
