// *----------------------------------*\
//  Settings > Colors
// *----------------------------------*/

// Colors
$color-brand: rgba(255, 174, 71, 0.8);
$color-white: #ffffff;
$color-text: #222222;
$color-grey: rgba(255, 255, 255, 0.7);
// Background Colors
$bg-color-gray: #fafafa;

// Border
$color-border: #ecf0f1;

// Links
$color-link: $color-text;
$color-link-hover: $color-brand;

// Text
$color-text-light-grey: rgba(0, 0, 0, 0.4);
$color-text-dark-grey: rgba(0, 0, 0, 0.89);
