<div class="ui container welcome">
  <div class="ui center grid">
    <div class="row">
      <div class="column">
        <img src="../../assets/images/amazon-logo_1X._CB457303289_SY260_.jpg" alt="">
  
        <div class="text-center">Developed by:</div>
        <div class="text-center">
          <h3> <a href="https://linkedin.com/in/mohammedelzanaty">Mohammed Elzanaty</a></h3>
        </div>
        <br>
        <div class="ui text container">
            <a class="github-button" href="https://github.com/mohammedelzanaty" aria-label="Follow @mohammedelzanaty on GitHub">Follow @mohammedelzanaty</a>
            <a class="github-button" href="https://github.com/mohammedelzanaty/Angular" data-show-count="true" aria-label="Star mohammedelzanaty/Angular on GitHub">Star</a>
            <a class="github-button" href="https://github.com/mohammedelzanaty/Angular/fork" data-show-count="true" aria-label="Fork mohammedelzanaty/Angular on GitHub">Fork</a>
        </div>
      </div>
    </div>
  </div>
</div>