<div class="container"
     id="product-list">
  <!-- header -->
  <div class="content">
    <h2 class="header">
      {{pageTitle}}
    </h2>
  </div>
  <!-- search box -->
  <div class="ui segment">
    <div class="ui fluid icon input">
      <input type="text" placeholder="Search a very wide input..." [(ngModel)]="listFilter">
      <i class="search icon"></i>
    </div>
  </div>
  <!-- keyword -->
  <div class="ui grid">
    <div class="two column wide">
      <h4>Filtered keyword: <em>{{listFilter}}</em> </h4>

    </div>
  </div>
  <!-- table data -->
  <table class="ui grey celled table"
         *ngIf="products && products.length">
    <thead>
      <tr>
        <th>
          <div class="ui two buttons">
            <div class="ui basic green button" (click)="toggleImage()">{{ (exist) ? 'Hide' : 'Show'}} Image</div>
          </div>
        </th>
        <th>Product</th>
        <th>Code</th>
        <th>Available</th>
        <th>Price</th>
        <th>5 Star Rating</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of products | filter: listFilter:'productName' ; let index= index ">
        <td class="center aligned image">
          <img [src]='product.imageUrl'
               *ngIf='exist'
               [title]='product.productName'
               [style.width.px]='imageWidth'
               [style.margin.px]='imageMargin'>
        </td>
        <td>{{product.productName | uppercase }}</td>
        <td>{{ product.productCode | convertToSpace:'-'}}</td>
        <td>{{ product.releaseDate }}</td>
        <td>{{ product.price | currency:'USD':'symbol':'1.2-2'}}</td>
        <td><pm-star [rating]="product.starRating"></pm-star></td>
      </tr>
    </tbody>
  </table>

</div>