:host {
  display: block;
  overflow: hidden;
}

.welcome {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 5em;

}

@media screen and (max-width: 600px) {
  .welcome {
    margin-top: 2em;
  }
}
